# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
config*.yaml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode
.idea/
*.iml

tmp/
tmpFiles/
*.tmp
logs/
files/
lastupdate.tmp
commentsRouter*.go
node_modules

# config
configs/.env
configs/permission.yaml

kubeconfig